doctype html
html(lang='en')
    head
        title #{locals.name} - #{locals.title}

        //Basic Meta Tags
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(name='author', content=locals.name)
        meta(name='description', content=locals.biography.description)
        meta(name='keywords', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

        //Facebook
        meta(property='og:image' content=locals.biography.photo)
        meta(property=locals.biography.description)
        meta(property='og:title' content=locals.name + '-' + locals.title)

        //Twitter
        meta(name='twitter:card' content='summary')
        meta(name='twitter:title' content=locals.name + '-' + locals.title)
        meta(name='twitter:description' content=locals.biography.description)
        meta(name='twitter:image' content=locals.biography.photo)

        //Stylesheets
        link(href= 'https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    //- Body Layout Starts
    body(class=['blue-grey', 'lighten-5'])
        main
            .fixed-action-btn: a.btn-floating.btn-large.waves-effect.waves-light.red(href=locals.resume, download)
                i.material-icons file_download

            .row
                //- Left Column
                include partials/_sidebar

                //- Content Column
                include partials/_main_panel