.card-panel.education
    h4 #{locals.education.label}
    h5 #{locals.education.places.label}
    each item in locals.education.places.items
        .row 
            .experience(data-id=id, data-group=group)
                .col.l9.s12
                    | #{item.organization}
                .col.duration.l3.hide-on-med-and-down.right-align #{item.start}
                    if item.end
                        | &nbsp;&mdash;&nbsp;#{item.end}
        .row.tags.fix-spacing
            each tag in item.tags
                .col.s12.m12.l4: .tag.z-depth-1
                    i.material-icons #{tag.icon}
                    div.info
                        div.label #{tag.label}
                        div.description #{tag.description}

    h5 #{locals.education.courses.label}
    .row.fix-spacing
        - locals.education.courses.items.sort((a, b) => a.id.localeCompare(b.id))
        each course in locals.education.courses.items
            .col.s12.m12.l4
                strong #{course.id}
                |  &mdash; 
                | #{course.label}