include ../_img

mixin card(id, title, tags, description, short_description, image, link)
    .card
        a(name=id)
        .card-image.waves-effect.waves-light.activator
                img(src=image, alt=short_description)
                //+img(image, short_description).activator
        .card-content
            span.card-title.activator #{title}
                i.material-icons.small.right.arrow expand_more
            p #{short_description}
            .reveal 
                hr
                p !{description.replace(/\n/g, '<br/>')}
                if tags
                    .chips
                        each tag in tags
                            .chip.hide-on-med-and-down #{tag}
                if link
                    hr
                    a(href=link, target='_blank', rel='noopener').waves-effect.waves-light
                        i.material-icons.right open_in_new
                        | More Info


.content: .row
    - var length = locals.project.items.length
    - var halfLength = Math.ceil(length / 2)
    .col.l6.s12
        - var x = 0
        while (x < halfLength)
            - var item = locals.project.items[x]
            +card(item.id, item.title, item.tags, item.description, item.short_description, item.image, item.link)
            - x += 1
    .col.l6.s12
        - var x = halfLength
        while (x < length)
            - var item = locals.project.items[x]
            +card(item.id, item.title, item.tags, item.description, item.short_description, item.image, item.link)
            - x += 1