mixin card(id, title, tags, description, short_description, image, link)
    .card
        a( name= id)
        .card-image.waves-effect.waves-block.waves-light
                img.activator(src=image)
        .card-content
            span.card-title.activator #{title}
                i.material-icons.small.right more_vert
            p #{short_description}
        .card-reveal
            .content 
                span.card-title.grey-text.text-darken-4.disabler #{title}
                    i.material-icons.small.right close
                p #{description}
                    if link
                        br
                        a( href= link, target='blank') More Info
                if tags
                    .chips
                        each tag in tags
                            .chip.hide-on-med-and-down #{tag}
.row
    - var length = locals.project.items.length
    - var halfLength = Math.ceil(length / 2)
    .col.l6.s12
        - var x = 0
        while (x < halfLength)
            - var item = locals.project.items[x]
            +card(item.id, item.title, item.tags, item.description, item.short_description, item.image, item.link)
            - x += 1
    .col.l6.s12
        - var x = halfLength
        while (x < length)
            - var item = locals.project.items[x]
            +card(item.id, item.title, item.tags, item.description, item.short_description, item.image, item.link)
            - x += 1