//- skills
.card-panel
    h4 #{locals.skill.label}
    h5 #{locals.skill.language.label}
    mixin languagelevel(label, level)
        .row.skill
            span.label #{label}
            .progress.light-bg
                .determinate(style='width: ' + level + '%')
            br
    .row
        - var length = locals.skill.language.items.length
        - var halfLength = Math.ceil(length / 2)
        .col.s6
            - var x = 0
            while (x < halfLength)
                - var item = locals.skill.language.items[x]
                +languagelevel(item.label, item.level)
                - x += 1
        .col.s6
            - var x = halfLength
            while (x < length)
                - var item = locals.skill.language.items[x]
                +languagelevel(item.label, item.level)
                - x += 1

    h5 #{locals.skill.framework.label}
    .row
        - var frameworks = locals.skill.framework.items.sort((a, b) => a.localeCompare(b))
        each framework in frameworks
            .col.s6.l3 #{framework}