block config
    include ../variables/_config.jade

doctype html
html
    head(lang=language)

        title
            block name
                |    #{locals.name} - #{locals.title}

        block metatags
            meta(http-equiv="content-type", content="text/html; charset=UTF-8")
            meta(name="description", content=metaDescription)
            meta(name="keywords", content="")
            meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        block styles

            if bootstrap
                link( rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" )

            if fontAwesome
                link( rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" )

            if materialize
                link( rel="stylesheet", href="lib/materialize/bin/materialize.css" )
                script( src="lib/jquery/dist/jquery.js", type="text/javascript")
                script( src="lib/materialize/bin/materialize.js", type="text/javascript")

            if customStyles
                link( rel="stylesheet", href="css/resume.css" )

    //- Body Layout Starts
    body(class=bodyClasses)
        main
            .row
                //- Left Column
                #side-nav.col.s12.m5.l4.primary-color

                    //- Card Portrait
                    include _portrait-card.jade

                    //- Main Nav
                    .main-nav-wrapper.center-align
                    //- Facts Area
                    .facts-wrapper.light-text

                        //- Summary
                        .row
                            include _summary.jade

                        //- Contact
                        .row
                            include _contact.jade

                        .row
                            include _location.jade

                        //- Download
                        .row
                            include _download.jade

                //- end left column

                //- Content Column
                #main-panel.col.s12.m7.l8
                    //- Experience
                    .card-panel
                        .row
                            include _experience.jade

                    //- Skills
                    .card-panel
                        .row
                            include _skills.jade

                    #projects
                        .card-panel.header
                            .row
                                include _projects_title.jade

                        .row.content
                            include _projects.jade

        include _footer.jade

        //- Import jQuery before materialize.js
        if materialize
            script( src="lib/jquery/dist/jquery.js", type="text/javascript")
            script( src="lib/materialize/bin/materialize.js", type="text/javascript")
        script( src="js/app.js", type="text/javascript")
